<div class="w-full pt-10">
  <dl class="mt-5 grid grid-cols-1 gap-5 sm:grid-cols-3">
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">
        <%= I18n.t("views.dashboard.providers.title") %>
      </dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
        <%= @providers_count %>
      </dd>
    </div>
    <div class="overflow-hidden rounded-lg bg-white px-4 py-5 shadow sm:p-6">
      <dt class="truncate text-sm font-medium text-gray-500">
        <%= I18n.t("views.dashboard.banks.title") %>
      </dt>
      <dd class="mt-1 text-3xl font-semibold tracking-tight text-gray-900">
        <%= @banks_count %>
      </dd>
    </div>
  </dl>
</div>
